.Icon__container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  /* background-color: #CCC; */
}
.Icon__container--check {
  position: absolute;
  left: 12px;
}
.Icon__container--delete {
  position: absolute;
  /* top: -24px; */
  right: 0;
}

.Icon__svg {
  width: 24px;
  height: 24px;
  transition: fill .15s;
}
.Icon__container:hover .Icon__svg--check {
  fill: #4caf50;
}
.Icon__container:hover .Icon__svg--delete {
  fill: red;
}